<section class="UserNew">
  <p class="NewUsers-title">Sign In!</p>
  <p class="FormInput-label">
    Don't have an account?
    <%= link_to "Sign Up", new_user_path %>
  </p>
  <%= form_with url: sessions_path do |form| %>
    <div class="Form-section">
      <p class="FormInput-label">Email:</p>
      <%= form.email_field :email, class: "Form-input", autofocus: true %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Password:</p>
      <%= form.password_field :password, class: "Form-input" %>
    </div>
    <div class="Form-section">
      <%= form.submit "SIGN IN", class: "Form-submit" %>
    </div>
  <% end %>
</section>