<section class="UserNew">
  <p class="NewUsers-title">Welcome new user!</p>
  <p class="FormInput-label">Already have an account? <%= link_to "Sign In", new_sessions_path %></p>
  <%= form_with url: users_path do |form| %>
    <div class="Form-section">
      <p class="FormInput-label">First name:</p>
      <%= form.text_field :first_name, class: "Form-input", autofocus: true %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Last name:</p>
      <%= form.text_field :last_name, class: "Form-input" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Email:</p>
      <%= form.email_field :email, class: "Form-input" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Phone Number:</p>
      <%= form.phone_field :phone_no, class: "Form-input" %>
    </div>
    <div class="Form-section">
      <p class="FormInput-label">Password:</p>
      <%= form.password_field :password, class: "Form-input" %>
    </div>
    <div class="Form-section">
      <%= form.submit "SIGN UP", class: "Form-submit" %>
    </div>
  <% end %>
</section>